<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a routerLink="/business" class="navbar-brand h1 mb-0"><img src="../../assets/logo-crm.png" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSite">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item">
        <a class="nav-link">Lead</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Atividade</a>
      </li>
      <li class="nav-item dropdown">
        <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">
          Cadastros
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Empresa</a>
          <a class="dropdown-item">Vendedor</a>
          <a class="dropdown-item">Produtos</a>
          <a class="dropdown-item">ERP</a>
          <a class="dropdown-item">Ramo</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" id="navDrop">
          <span>Admin</span>
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item">Meu Perfil</a>
          <a class="dropdown-item">Sair</a>
        </div>
      </li>
    </ul>
  </div>
</nav>